[submodule "libretrodroid/src/main/cpp/oboe"]
	path = libretrodroid/src/main/cpp/oboe
	url = https://github.com/google/oboe
	branch = 1.5-stable
[submodule "libretrodroid/src/main/cpp/libretro/libretro-common"]
	path = libretrodroid/src/main/cpp/libretro/libretro-common
	url = https://github.com/libretro/libretro-common/
